<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/Ling.Tools.Wasm.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>    
    <div id="app">
        <App @rendermode="RenderMode.InteractiveAuto" />
    </div>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/theme.js" type="module"></script>
</body>

</html>
