@inherits LayoutComponentBase

<FluentLayout @rendermode=InteractiveAuto>
    <FluentHeader>
        Tools
        <FluentSpacer />
        <div class="nav-item">
            <FluentAnchor Appearance="Appearance.Lightweight"
                          Target="_blank"
                          Href="https://github.com/ling921/tools-blazor"
                          Rel="noreferrer noopener"
                          title="Tools Blazor source on GitHub"
                          aria-label="Tools Blazor repository">
                <FluentIcon Value="@(new AppIcons.Size20.GitHub())" Color="Color.FillInverse" />
            </FluentAnchor>
        </div>
        <div class="nav-item">
            <NotificationCenter />
        </div>
        <div class="nav-item">
            <SiteSettings />
        </div>
    </FluentHeader>
    <FluentBodyContent Style="display:flex;justify-content:center;">
        <div class="container">
            @Body
        </div>
    </FluentBodyContent>
    <FluentFooter>
        <div>
            Copyright &copy; 2020@(DateTime.Now.Year == 2020 ? "" : $"-{DateTime.Now.Year}") ling921 All rights reserved | <FluentAnchor Appearance="Appearance.Hypertext" Target="_blank" Href="privacy">Privacy</FluentAnchor>
        </div>
        <div>
            Powered by <FluentAnchor Appearance="Appearance.Hypertext" Target="_blank" Href="https://dotnet.microsoft.com">.NET 8.0</FluentAnchor> with <FluentAnchor Appearance="Appearance.Hypertext" Target="_blank" Href="https://www.fluentui-blazor.net/">FluentUI</FluentAnchor>
        </div>
    </FluentFooter>
</FluentLayout>
