@inherits ToolComponentBase<GuidGenerateState>

<Condition Predicate="State is not null">
    <True>
        <div class="tool-form-item">
            <FluentCheckbox @bind-Value="State!.Lowercase" Label=@L["Lowercase"] />
            <FluentCheckbox @bind-Value="State.ExcludeHyphen" Label=@L["ExcludeHyphen"] />
        </div>

        <div class="tool-form-item">
            <FluentNumberField @bind-Value="State.Times" Label="@L["Times"]" Min="0" Max="128" />
            <FluentButton Appearance="Appearance.Accent" OnClick="Generate">
                @L["Generate"]
            </FluentButton>
        </div>

        <div class="tool-result">
            <GeneratedDisplay Values="State.LastGenerated" />
        </div>
    </True>
    <False>
        <div>Loading...</div>
    </False>
</Condition>
