@inherits GeneratorComponentBase<double>

<div class="tool-form-item">
    <FluentNumberField @bind-Value="MinValue" Label="@L["Minimum value"]" />
    <FluentNumberField @bind-Value="MaxValue" Label="@L["Maximum value"]" />
</div>
