@inherits GeneratorComponentBase<string>

<div class="tool-form-item">
    <FluentCheckbox @bind-Value="Lowercase" Label=@L["Lowercase"] />
    <FluentCheckbox @bind-Value="ExcludeHyphens" Label=@L["Exclude hyphens"] />
</div>
