@inherits GeneratorComponentBase<long>

<div class="tool-form-item">
    <FluentNumberField @bind-Value="MinValue" Label="@L["Minimum value"]" />
    <FluentCheckbox @bind-Value="MaxInclusive" Label=@L["Inclusive"] />
    <FluentNumberField @bind-Value="MaxValue" Label="@L["Maximum value"]" />
    <FluentCheckbox @bind-Value="MaxInclusive" Label=@L["Inclusive"] />
</div>
