@inherits ToolComponentBase<GuidGeneratorState>

<Condition Predicate="State is not null">
    <True>
        <GuidGenerator @ref="Generator"
                       Lowercase="State!.Lowercase"
                       ExcludeHyphens="State.ExcludeHyphen" />

        <div class="tool-form-item">
            <FluentNumberField @bind-Value="State.Times" Label="@L["Times"]" Min="0" Max="128" />
            <FluentButton Appearance="Appearance.Accent" OnClick="Generate">
                @L["Generate"]
            </FluentButton>
        </div>

        <div class="tool-result">
            <GeneratedDisplay Values="State.LastGenerated" />
        </div>
    </True>
    <False>
        <div>Loading...</div>
    </False>
</Condition>
