<PageTitle>
    @Title - Ling.Tools
</PageTitle>

<div class="breadcrumb">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">
            Home
            <FluentIcon Value="@(new Icons.Regular.Size16.Home())" Color="@Color.Neutral" Slot="start" />
        </FluentBreadcrumbItem>
        <FluentBreadcrumbItem>
            @Title
        </FluentBreadcrumbItem>
    </FluentBreadcrumb>
</div>

<div>
    <Condition Predicate="_info is not null">
        <True>
            <DynamicComponent Type="_info!.ComponentType" />
        </True>
        <False>
            <div>
                <p>Tool not found</p>
            </div>
        </False>
    </Condition>
</div>
